#main-navbar {
  background-color: rgb(85, 230, 112);
  overflow: hidden;
}

#navbar-container {
  float: left;
  width: 100%;
  position: relative;
}

#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

#main-navbar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}

#main-navbar ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  font-family: 'Fjalla One', sans-serif;
  font-size: 30px;
}

#main-navbar ul li a:hover {
  background-color: rgb(53, 135, 24);
  
}

body {
  text-align:center;
}

h1 {
  font-family: 'Fjalla One', sans-serif;
}
h3 {
  font-family: 'Fjalla One', sans-serif;
}

h4 {
  font-family: 'Fjalla One', sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  font-family: Arial, Helvetica, sans-serif;
}

/* food page css */

img {
  height: 100px;
  width: 150px;
  transition: width 1s, height 1s;
}

img:hover {
  height: 200px;
  width: 300px;
}

.foodchunk {
  background-color: burlywood;
  float: left;
  margin: 10px 10px;
  width: 300px;
  height: 300px;
  overflow-y: scroll;
  scrollbar-width: thin;
  padding: 10px;

}

#foodtop {
  background-color: burlywood;
  margin: 10px 10px;
  padding: 10px;
}

#foodbackground {
  background-color: rgb(163, 231, 231);
}

/* index page css */

#resume {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 0%;
  text-align: left;
  background-color: rgb(239, 151, 151);
  padding: 20px;

}

#resume h1 {
  text-align: center;
}

#resumebackground {
  background-color: rgb(216, 242, 229);
}

.resumechunk {
  border: 2px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: rgb(216, 242, 229);
}

/* Music page css*/

#musicbackground {
  background-color: gray;
}

#musichead {
  background-color: rgb(36, 35, 35);
  margin: 10px 10px;
  padding: 10px;
  margin: 2.5%;
}

#musicbackground h1{
  color:#fff;
}

#musicbackground p{
  color:#fff;
  padding: 10px;
}

#musicbackground h3{
  color:#fff;
  padding: 10px;
}

#song1 {
  background-color: rgb(234, 75, 75);
  margin-left: 10px 10px;
  padding: 10px;
  margin: 2.5%;
}

#song2 {
  background-color: rgb(53, 135, 24);
  margin-left: 10px 10px;
  padding: 10px;
  margin: 2.5%;
}

#song3 {
  background-color: rgb(157, 134, 2);
  margin-left: 10px 10px;
  padding: 10px;
  margin: 2.5%;
}

iframe {
  width: auto;
  height: auto;
  margin: 2px 2px;
}

/* Media queries for music page*/

/*Tablet*/
@media screen and (min-width: 600) {
  #song1 {
    background-color: rgb(254, 118, 118);
  }
  
  #song2 {
    background-color: rgb(133, 237, 121);
  }

  #song3 {
    background-color: rgb(242, 242, 100);
  }

  #musicbackground {
    background-color: rgb(197, 195, 195);
  }

  #musicbackground h1{
    color: black;
  }
  
  #musicbackground p{
    color: black;
  }
  
  #musicbackground h3{
    color: black;
  }

}

/*Desktop*/
@media screen and (min-width: 900px) {
  #song1 {
    float: left;
    width: 30%; 
    margin: 0 0 0 2.5%;
    padding: 0;
  }
  
  #song2 {
    float: left;
    width: 30%;
    margin: 0 2.5%;
    padding: 0;
  }
  
  #song3 {
    float: left;
    width: 30%;
    margin: 0 2.5% 0 0;
    padding: 0;
  }

  iframe {
    width: 80%;
    height: auto;
  }
}

/* Slider */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  display: block;
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 10px;
  background-color: white;
  overflow: hidden;
}

.slider__slides {
  width: 100%;
  padding-top: 66%;
}

.slider__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;   
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lemonchiffon;
    transition: 1s;
    opacity: 0;
}

.slider__slide.active {
    opacity: 1;
}

.slider__nav-button {
  position: absolute;
  height: 70px;
  width: 70px;
  background-color: burlywood;
  opacity: .8;
  cursor: pointer;
}

#nav-button--prev {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

#nav-button--next {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

#nav-button--prev::after,
#nav-button--next::after {
    content: "";
    position: absolute;
    border: solid white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    width: 40%;
    height: 40%;
}

#nav-button--next::after{
  top: 50%;
  right: 50%;
  transform: translate(25%, -50%) rotate(-45deg);
}

#nav-button--prev::after {
  top: 50%;
  right: 50%;
  transform: translate(75%, -50%) rotate(135deg);
}

@media screen and (max-width: 640px) {
  .slider__nav-button {
    height: 40px;
    width: 40px;
  }
}